/** @format */

@import url('https://fonts.cdnfonts.com/css/deathshead');
@import url('https://fonts.cdnfonts.com/css/m-plus-code-latin');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color-change {
	-webkit-background-clip: text;
	color: #eeeeee;
	-webkit-text-fill-color: transparent;
	transition-duration: 0.4s;
	background-image: linear-gradient(0deg, #cc1100, #cc1100 50%, #eeeeee 50%);
	background-position: 0% 0%;
	background-size: 100% 200%;
}

.text-color-change:hover {
	background-position: -100% -100%;
}
